*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(102, 5, 102);
}
h1{
    color: #fff;
    margin-left: 600px;
}
img{
    height: 448px;
    width: 435px;
    margin-left: 700px;
}